.precipitation-page {
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  &__forecast {
    display: inline-flex;
    width: 100%;
  }

  &__container {
    padding: 0 0.5em 0;
  }

  &__image-text { 
    padding: 1em 0.5em 0.5em 0.5em;
    width: 100%;
  }

  &__image {
    padding-bottom: 0.5em;
    width: 100%;

    img {
      height: 278px;
      width: 100%;
    }
  }

  &__text {
    text-align: center;

    &-bottom {
      font: small-caption;
      text-align: center;

      span {
        padding: 0 1rem;
      }
    }
  }

  &__table {
    width: 100%
  }
}
