<div  class="precipitation-page">
  <div class="precipitation-page__forecast">
    <forecast [forecast]="forecast"></forecast>
    <div class="precipitation-page__image-text">
      <div class="precipitation-page__image">
        <mat-card>
          <mat-spinner *ngIf="!currentField.image"></mat-spinner>
          <img *ngIf="currentField.image" src="{{ currentField.image }}" alt="">
        </mat-card>
      </div>
      <div class="precipitation-page__text">
        <mat-card>
          <div class="precipitation-page__text-top">
            <h1 class="precipitation-page__text__field-name"> {{ currentField.fieldName }} </h1>
          </div>
          <div class="precipitation-page__text-bottom">
            <span> {{ currentField.latitude }} </span>
            <span> {{ currentField.longitude }} </span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="precipitation-page__container">
    <div>
      <span class="precipitation-page__footer"></span>
    </div>
    <div class="precipitation-page__table">
      <table-component 
        [dataSource]="precipitationData"
        [displayedColumns]="displayedColumns">
      </table-component>
    </div>
  </div>
</div>
