<div  class="precipitation-page">
  <div class="precipitation-page__forecast">
    <forecast [forecast]="forecast"></forecast>
    <div class="precipitation-page__image-text">
      <div class="precipitation-page__image">
        <mat-card>
          <mat-spinner *ngIf="!currentField"></mat-spinner>
          <google-map
            height="420px"
            width="100%"
            [zoom]="zoom"
            [center]="getCoordinates(currentField)">
          <map-marker #marker
            [position]="getCoordinates(currentField)">
          </map-marker>
        </google-map>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="precipitation-page__container">
    <div>
      <span class="precipitation-page__footer"></span>
    </div>
    <div class="precipitation-page__table">
      <table-component 
        [dataSource]="precipitationData"
        [displayedColumns]="displayedColumns">
      </table-component>
    </div>
  </div>
</div>
