<div class="table-component">
  <div class="table-component__search-bar">
    <mat-form-field class="table-component__search-bar__input">
      <mat-label> Search </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ground name">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="matTableDataSource" class="table-component__table" matSort>
      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> Map </th>
        <td (click)="goToPage(data.id)" class="table-component__table-link" mat-cell *matCellDef="let data"> 
          <img class="table-component__table-image" src="{{ data.image }}">
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let data"> {{ data.fieldName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="hectares">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hectares </th>
        <td mat-cell *matCellDef="let data"> {{ data.hectares }} </td>
      </ng-container>
  
      <ng-container matColumnDef="lat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
        <td mat-cell *matCellDef="let data"> {{ data.latitude }} </td>
      </ng-container>
    
      <ng-container matColumnDef="lon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
        <td mat-cell *matCellDef="let data"> {{ data.longitude }} </td>
      </ng-container>
      
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let data"> {{ data.date }} </td>
      </ng-container>

      <ng-container matColumnDef="precipitation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total precipitation </th>
        <td mat-cell *matCellDef="let data"> {{ data.totalPrecipitation }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; sticky: true" ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[4, 8, 16, 100]"></mat-paginator>
  </div>
</div>
