.table-component {
  &__search-bar {
    background-color: white;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-left: 1em;

    &__input {
      width: 35%;
    }
  }

  &__table {
    height: 100%;
    width: 100%; 

    &-image {
      height: 15em;
    }

    &-link {
      cursor: pointer;
    }
  }
}
