.table-component {
  overflow: auto;

  &__search-bar {
    font-size: 14px;
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    background-color: white;

    &__input {
      width: 35%;
    }
  }

  &__table {
    width: 100%; 
    height: 100%;

    &-image {
      height: 15em;
    }

    &-link {
      cursor: pointer;
    }
  }
}
